/* ----- EASING FUNC ----- */

$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

/* ----- MIXINS ----- */

@mixin animto($name, $duration, $ease, $end, $delay: 0ms) {
  @content;
  animation: $name $duration $ease $delay $end;
}

@mixin will-animate-y($delay: 0ms) {
  opacity: 0;
  transform: translateY(30px);
  @content;

  &.la-animatable--animate {
    animation: to-origin-y 3000ms $easeOutBack $delay forwards;
  }
}

@mixin animate-scale-down($delay: 0ms) {
  @content;
  opacity: 0;
  transform: scale(1.7);
  animation: scale-up 1000ms $easeOutCirc forwards;

  &.la-animatable--animate {
    animation: scale-down 2000ms $easeOutCirc $delay forwards;
  }
}

// @mixin animate-scale-up($delay: 0ms) {
//   @content;
//   opacity: 0;
//   transform: scale(0.7);
//   animation: scale-down 3000ms $easeOutCirc forwards;

//   &.la-animatable--animate {
//     animation: scale-up 3000ms $easeOutCirc $delay forwards;
//   }
// }

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin hover-scale-01 {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1);
  transition: $easeOutQuart 250ms;

  &:hover {
    opacity: 1;
    transform: scale(1.03);
  }
}

@mixin create-fade-up-keyframes($animationName, $opacity: 0.7) {
  @keyframes #{$animationName} {
    from {
      opacity: 0;
      transform: translateY(120px);
    }
    to {
      opacity: $opacity;
      transform: translateY(0);
    }
  }
}

/* ----- KEYFRAMES ----- */

@keyframes scale-down {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes(fade) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enter-scale-x {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes to-origin-y {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes to-right {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(20%);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include create-fade-up-keyframes("enter-fade-up-1", 0.8);

// animation: scale-down 2000ms $easeOutBack 1300ms forwards;
