$padding-RL: 0 100px;

/* ----- COLORS ----- */

$color-primary: #2d1c0f;
$color-white: #ffffff;
$color-light-grey: #919191;
$color-dark-grey: #2e2e2e;
$color-dark: #252424;
$color-black: rgb(0, 0, 0);
$color-blue-dark: #40579d;
$color-blue: #4b9ae7;
$color-blue-light: #69cbfc;
$color-btn: #e5f6fe;
$color-orange: #ff9a4f;

// FUNCTIONAL COLOR VARIABLES
// $color-shadow-light: rgba($color-white, 0.5);
// $box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
