$padding-RL: 0 100px;

/* ----- COLORS ----- */

$color-primary: #2d1c0f;
$color-white: #ffffff;
$color-light-grey: #a8a8a8;
$color-dark-grey: #5e5e5e;
$color-black: rgb(0, 0, 0);
$color-blue-dark: #40579d;
$color-blue: #51a2f3;
$color-blue-light: #69cbfc;
$color-btn: #e5f6fe;
$color-orange: #ff9a4f;

// FUNCTIONAL COLOR VARIABLES
// $color-shadow-light: rgba($color-white, 0.5);
$box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
