@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./layout/index.scss";
@import "./util/variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  // padding: $padding-RL;
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: $color-dark-grey;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-weight: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}

.la-btn {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;

  &--primary {
    color: $color-blue;
    background: white;
    border: 1px solid $color-blue;
  }

  &--secondary {
    color: white;
    background: $color-blue;
    border: 1px solid $color-blue;
  }

  i {
    padding-left: 10px;
  }
}
