@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import "./layout/index.scss";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: rgb(0, 187, 255);
  background: linear-gradient(
    0deg,
    rgba(114, 233, 255, 1) 0%,
    rgba(0, 187, 255, 1) 90%
  );
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-weight: 35px;
}

h3 {
  font-weight: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
