.la-dev {
  height: 100vh;
  display: flex;

  @include responsive-sm {
    flex-direction: column;
  }
  @include responsive-xs {
    flex-direction: column;
  }

  > div {
    flex: 1 0 50%;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .la-dev__content {
        padding: 100px;
        @include will-animate-y(300ms);

        @include responsive-sm {
          padding: 100px 100px 50px 100px;
        }
        @include responsive-xs {
          padding: 50px;
        }

        .icon-box {
          margin-bottom: 30px;
          background: $color-orange;

          img {
            width: 100%;
            color: $color-orange;
          }
        }

        button {
          margin-top: 30px;
          background: $color-btn;
          border: none;

          &:hover {
            @include hover-scale-01;
          }
        }
      }
    }

    &:nth-child(2) {
      background-image: url("asset/sb-1.jpg");
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      @include will-animate-y(700ms);

      @include responsive-sm {
        background-size: cover;
      }
    }
  }
}
