footer {
  padding: $padding-RL;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-blue-dark;
  color: $color-white;
  font-weight: 300;
  font-size: 11px;

  .la-footer__logo {
    height: 70px;
    width: 70px;
    background-image: url("/asset/logoWH.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .la-footer__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

    .la-footer__tab {
      margin: 30px;
      font-size: 12px;
    }
  }

  .la-footer__divider {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;

    hr {
      flex: 0 0 100%;
      // width: 30%;
    }
  }

  .la-footer__content {
    width: 50%;
    margin: 30px;
    text-align: center;
  }

  .la-footer__social {
    display: flex;

    h4,
    a i {
      color: $color-white;
      margin: 0 20px;
    }
  }
}
