footer {
  padding: $padding-RL;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-blue-dark;
  color: $color-white;
  font-weight: 300;
  font-size: 11px;
  position: relative;

  .la-footer__logo {
    height: 70px;
    width: 70px;
    background-image: url("/asset/logoWH.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .la-footer__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

    .la-footer__tab {
      margin: 30px;
      font-size: 12px;
    }
  }

  .la-footer__divider {
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

    div:nth-child(1),
    div:nth-child(3) {
      width: 40%;
      margin: 20px;
      opacity: 0.2;
      color: $color-white;
    }
  }

  .la-footer__icon {
    position: absolute;
    right: 250px;
    bottom: 190px;
  }

  .la-footer__content {
    width: 50%;
    margin: 30px;
    text-align: center;
  }

  .la-footer__social {
    display: flex;

    h4,
    a i {
      color: $color-white;
      margin: 0 20px;
    }
  }
}
