header {
  height: 90vh;
  display: flex;

  @include responsive-sm {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.7),
        rgba(12, 12, 12, 0.7)
      ),
      url("asset/sb-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 30px;
  }

  @include responsive-xs {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.7),
        rgba(12, 12, 12, 0.7)
      ),
      url("asset/sb-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 30px;
  }

  .la-header__content {
    padding: 0 100px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsive-md {
      padding: 0 80px;
    }
    @include responsive-sm {
      width: 100%;
      color: $color-white;
      text-align: center;
      align-items: center;
    }
    @include responsive-xs {
      width: 100%;
      color: $color-white;
      text-align: center;
      align-items: center;
    }

    h1 {
      font-size: 60px;
      opacity: 0;
      animation: fade-up 3000ms $easeOutBack 500ms forwards;
    }

    h3 {
      margin: 30px 0;
      font-size: 15px;
      font-weight: 300;
      opacity: 0;
      animation: fade-up 2000ms $easeOutBack 800ms forwards;
    }

    button {
      opacity: 0;
      animation: fade-up 2000ms $easeOutBack 1100ms forwards;

      &:hover {
        @include hover-scale-01;
      }

      @include responsive-sm {
        margin-left: 20px;
        color: $color-white;
        border: 1px solid $color-white;
      }
      @include responsive-xs {
        margin-left: 20px;
        color: $color-white;
        border: 1px solid $color-white;
      }
    }
  }

  .la-header__img-wrap {
    height: 100%;
    width: 65%;
    justify-content: center;

    .la-header__img {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.7),
          rgba(12, 12, 12, 0.7)
        ),
        url("asset/sb-3.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      -webkit-clip-path: ellipse(73% 94% at 74% 5%);
      clip-path: ellipse(73% 94% at 74% 5%);

      // -webkit-clip-path: ellipse(73% 81% at 73% 48%);
      // clip-path: ellipse(73% 81% at 73% 48%);

      position: relative;
      top: -100px;
      right: 0;
      z-index: 0;
    }
  }
}
