@import "../util/variables";
@import "../util/mediaq";

nav {
  padding: $padding-RL;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive-xs {
    padding: 10px 30px;
    flex-wrap: wrap;
  }

  .la-nav__logo {
    height: 70px;
    width: 70px;
    background-image: url("/asset/logoBL.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .la-nav__tabs {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include responsive-xs {
      margin: 10px 0 20px 0;
      order: 1;
      flex-basis: 100%;
      align-items: center;
      justify-content: space-around;
    }

    .la-nav__tab {
      margin-left: 20px;
      font-size: 13px;
    }

    button {
      margin-left: 20px;

      //   color: $color-white;
      //   border: 1px solid $color-white;
    }
  }
}
