nav {
  padding: $padding-RL;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;

  @include responsive-xs {
    padding: 10px 30px;
    flex-wrap: wrap;
  }

  .la-nav__logo {
    height: 80px;
    width: 80px;
    background-image: url("asset/logoBL.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: left-to-right 3000ms $easeOutBack 800ms forwards;
  }

  .la-nav__tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-white;
    opacity: 0;
    animation: fade 3000ms $easeOutBack 800ms forwards;

    @include responsive-xs {
      margin: 10px 0 20px 0;
      order: 1;
      flex-basis: 100%;
      align-items: center;
      justify-content: space-around;
    }

    .la-nav__tab {
      margin-left: 20px;
      font-size: 13px;

      &:hover {
        @include hover-scale-01;
      }

      @include responsive-sm {
        color: $color-primary;
      }
      @include responsive-xs {
        color: $color-primary;
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }

  .la-nav__cta {
    button {
      margin-left: 20px;
      color: $color-white;
      border: 1px solid $color-white;
      opacity: 0;
      animation: fade 3000ms $easeOutBack 800ms forwards;

      &:hover {
        @include hover-scale-01;
      }

      @include responsive-sm {
        color: $color-blue;
        border: 1px solid $color-blue;
      }
      @include responsive-xs {
        color: $color-blue;
        border: 1px solid $color-blue;
      }
    }
  }
}
